.md-content {
  text-align: justify;
}

.md-content p {
  margin: 10px 0;
}

.md-content pre {
  overflow-x: auto;
}

.md-content *::selection,
.md-content *::selection {
  background: rgb(210, 210, 210) !important;
}

.md-content .code-highlight {
  float: left;
  min-width: 100%;
}

.md-content .code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
}

.md-content .code-line.inserted {
  background-color: rgba(16, 185, 129, 20%);
}

.md-content .code-line.deleted {
  background-color: rgba(239, 68, 68, 20%);
}

.md-content .highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(179, 194, 219, 0.2);
  border-left: 4px solid rgb(49, 170, 226);
}

.md-content .line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}
