@import "../theme.scss";

.footer-container {
  margin-top: 3rem;
  position: relative;
}

.footer {
  height: calc((#{$backdropHeight}) / #{$footerBackdropRatio});

  background-color: $darkBackgroundColor;
  clip-path: url(#footer-clip);

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-details {
  font-size: 80%;
  font-family: $monospaceFont;
  margin-bottom: 2rem;
  text-align: center;
  opacity: 0.5;
}

.footer-shadow {
  height: calc((#{$backdropHeight}) / #{$footerBackdropRatio});

  background-color: $darkAccentColor;
  width: 100%;
  position: absolute;
  top: -0.6vh;
  left: 0px;
  clip-path: url(#footer-clip);
  z-index: -1;
}
