@import "../theme.scss";

.content > section {
  margin: 2rem $margin 0 $margin;
}

.about-container .frontmatter-markdown {
  text-align: justify;
  columns: 2;
  column-gap: 2rem;
  orphans: 3;
  widows: 3;
}

.heading-wrapper {
  margin: 3rem 0 1rem 0;
  text-align: center;
}

.work-container {
  display: flex;
  justify-content: center;
}

.work-container > * {
  max-width: 45rem;
  flex-grow: 1;
}

@media only screen and (max-width: 50rem) {
  .about-container .frontmatter-markdown {
    columns: 1;
  }
}
