@import "../theme.scss";

$projectMinWidth: 25rem;

.projects-panel-container {
  margin-top: 5rem;
}

.projects-panel {
  display: grid;
  justify-items: center;
  justify-content: space-between;
  grid-auto-flow: dense;
  grid-template-columns: repeat(4, minmax($projectMinWidth, 1fr));

  gap: 2.5rem;
  padding: 0 $margin;

  background-color: $darkBackgroundColor;
}

.project {
  display: flex;
  flex-direction: column;

  max-width: 60vw;
  min-width: $projectMinWidth;
  background-color: $backgroundColor;
  border-top: 0.5vw solid $highlightColor;
  border-bottom: 0.5vw solid $highlightColor;
}

.project h3 {
  display: inline-block;
  margin-bottom: 0.66rem;
  font-weight: bolder;

  border-bottom: 3px solid $highlightColor;
  border-radius: 3px;
}

.project-image {
  width: 100%;
  border-bottom: 0.5vw solid $highlightColor;
}

.project-content {
  flex-grow: 1;
  margin: 0 1rem;
  margin-bottom: 0.75rem;
  text-align: justify;
}

.project ul {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

.project li {
  margin-bottom: 0.75rem;
}

.link-icon {
  color: $linkColor;
  transform: translateY(-3px);
  margin-right: 0.33rem;
}

.projects-panel-heading {
  position: absolute;
  left: 0px;
  top: 1rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.projects-panel-header-container,
.projects-panel-footer-container {
  position: relative;
}

.projects-panel-header,
.projects-panel-footer {
  height: calc((#{$backdropHeight}) / #{$projectPanelRatio});

  background-color: $darkBackgroundColor;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projects-panel-header-shadow,
.projects-panel-footer-shadow {
  height: calc((#{$backdropHeight}) / #{$projectPanelRatio});
  background-color: $darkAccentColor;
  width: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
}

.projects-panel-header,
.projects-panel-header-shadow {
  clip-path: url(#projects-panel-header-clip);
}

.projects-panel-footer,
.projects-panel-footer-shadow {
  clip-path: url(#projects-panel-footer-clip);
}

.projects-panel-header-shadow {
  top: -0.6vh;
}

.projects-panel-footer-shadow {
  top: 0.6vh;
}

@media only screen and (max-width: 135rem) {
  .projects-panel {
    grid-template-columns: repeat(2, minmax($projectMinWidth, 1fr));
  }
}

@media only screen and (max-width: 67.5rem) {
  .projects-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    min-width: unset;
    max-width: unset;
    width: 100%;
    margin: 1rem 0;
  }
}
