@import "../theme.scss";

.contact-container {
  display: flex;
}

form {
  max-width: 40rem;
  flex-grow: 1;
  margin: 2rem auto 0 auto;
  font-family: $monospaceFont;
}

input,
textarea,
button {
  display: block;
  width: 100%;

  padding: 0.33rem 0.66rem;

  border-radius: 1rem;

  transition: background-color 0.15s, border-color 0.15s, border-radius 0.35s;

  background-color: $color;
  box-shadow: none;

  font-family: inherit;
  font-size: inherit;
}

form.state-sending input:focus,
form.state-sending textarea:focus {
  border-color: darken($color: $processingColor, $amount: 15);
}

input,
textarea {
  border: 2px solid darken($color: $color, $amount: 15);
  margin-top: 0.25rem;
  color: $darkAccentColor;
}

button {
  margin-top: 1.5rem;
  border: 2px solid darken($color: $highlightColor, $amount: 7);
  background-color: $highlightColor;
  color: $color;
  font-weight: bold;
}

form.state-pending button,
form.state-failed button,
form.state-succeeded button {
  cursor: pointer;
}

form.state-sending button {
  background-color: $processingColor;
  border-color: darken($color: $processingColor, $amount: 15);
}

form.state-succeeded button {
  background-color: $successColor;
  border-color: darken($color: $successColor, $amount: 15);
}

form.state-failed button {
  background-color: $errorColor;
  border-color: darken($color: $errorColor, $amount: 15);
}

form:invalid button {
  border-color: darken($color: $color, $amount: 15);
  background-color: $color;
  color: lighten($color: $darkAccentColor, $amount: 30);
  cursor: inherit;
}

input:hover,
textarea:hover {
  border-color: darken($color: $color, $amount: 35);
}

form:valid.state-pending button:hover {
  border-color: darken($color: $highlightColor, $amount: 15);
}

form.state-succeeded button:hover {
  border-color: darken($color: $successColor, $amount: 20);
}

form.state-failed button:hover {
  border-color: darken($color: $errorColor, $amount: 25);
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: $highlightColor;
  border-radius: 0.5rem;
}

input:focus:invalid,
textarea:focus:invalid {
  border-color: $errorColor;
}

button:focus {
  border-radius: 0.5rem;
}

form:invalid button:focus {
  border-color: $errorColor;
}

form:valid.state-pending button:focus {
  border-color: lighten($highlightColor, 5);
}

form.state-success button:focus {
  border-color: lighten($successColor, 5);
}

form.state-failed button:focus {
  border-color: lighten($errorColor, 5);
}

form:valid.state-pending button:active {
  background-color: darken($color: $highlightColor, $amount: 5);
  border-color: darken($color: $highlightColor, $amount: 20);
}

form.state-succeeded button:active {
  background-color: darken($color: $successColor, $amount: 5);
  border-color: darken($color: $successColor, $amount: 20);
}

form.state-failed button:active {
  background-color: darken($color: $errorColor, $amount: 5);
  border-color: darken($color: $errorColor, $amount: 10);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
  font-family: inherit;
}

textarea {
  resize: none;
}

label {
  display: block;
  margin-top: 1rem;
}
