@import "./theme.scss";

@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Source+Code+Pro&display=swap");

body {
  font-family: $font;
  color: $color;
  background-color: $backgroundColor;
}

h1 {
  font-family: $displayFont;
  font-size: 4rem;
  margin-bottom: 1.2rem;
}

a {
  font-weight: bold;
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
