@import "./theme.scss";

@import "/node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&family=Source+Code+Pro&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: 1.05rem;
  color: $color;
  background-color: $backgroundColor;
}

h1 {
  font-family: $displayFont;
  font-size: 4rem;
  margin-bottom: 1.2rem;
}

p {
  margin-top: 0;
}

a {
  font-weight: bold;
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clip-path-svg {
  position: absolute;
  width: 0;
  height: 0;
}
