$color: #eee;
$backgroundColor: #222;
$darkAccentColor: #121212;
$linkColor: #35c7bb;
$darkLinkColor: #1e948a;
$highlightColor: #01b46a;

$font: "Varela Round", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$displayFont: "Fredoka One", "Gill Sans", "Gill Sans MT", Calibri,
  "Trebuchet MS", sans-serif;
$monospaceFont: "Source Code Pro", monospace;

$margin: 10vw;
$backdropHeight: max(50vh, 20rem);
