@import "../../theme.scss";

.backdrop {
  background-color: #181818;
  height: $backdropHeight;
  clip-path: url(#backdrop-clip);
}

.backdrop-shadow {
  background-color: $darkAccentColor;
  width: 100%;
  height: $backdropHeight;
  position: absolute;
  top: 3px;
  left: 0px;
  clip-path: url(#backdrop-clip);
}

.clip-path-svg {
  position: absolute;
  width: 0;
  height: 0;
}

.backdrop-canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $backdropHeight;
}
