@import "../../theme.scss";

.backdrop {
  background-color: $darkBackgroundColor;
  height: $backdropHeight;
  clip-path: url(#backdrop-clip);
}

.backdrop-shadow {
  background-color: $darkAccentColor;
  width: 100%;
  height: $backdropHeight;
  position: absolute;
  top: 0.6vh;
  left: 0px;
  clip-path: url(#backdrop-clip);
}

.backdrop-canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $backdropHeight;
}

.backdrop-canvas-initializing {
  opacity: 0;
}
