@import "../../theme.scss";

.backdrop-content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.greeting {
  display: flex;
  height: 80%;
  padding: 0 $margin;
  flex-direction: column;
  justify-content: center;
}

.social-links,
.social-links a {
  color: $darkLinkColor;
  font-family: $monospaceFont;
}

.social-link-line {
  width: fit-content;
  margin-bottom: 5px;
  padding: 2px 5px 2px 5px;
  background-color: $color;
  border-radius: 5px;
}

.social-link {
  margin-left: 4px;
}

.portrait {
  height: 35vh;
  align-self: flex-end;
  margin-right: $margin;
  padding-bottom: calc(#{$backdropHeight} * 0.1);
  user-select: none;
}

.backdrop-content-breaker {
  flex-grow: 1;
}

@media only screen and (max-width: 60rem) {
  .portrait,
  .backdrop-content-breaker {
    display: none;
  }
}
